# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore
config.yaml

# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/
env/

# System environments
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

!.gitignore

!*.md
!*.py

!Dockerfile
!config.yaml.template
!docker-compose.yaml
!requirements.txt
